[submodule "source/third-party/glad"]
	path = source/third-party/glad
	url = https://github.com/Luweijia1989/glad.git
[submodule "source/third-party/glm"]
	path = source/third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "cmake/tools"]
	path = cmake/tools
	url = https://github.com/Luweijia1989/cmake-tools.git
[submodule "source/third-party/JMI"]
	path = source/third-party/JMI
	url = git@github.com:Luweijia1989/JMI.git
